
@{
    ViewBag.Title = "AdminDashboard";
}

<h2>Admin Dashboard</h2>

<a href="/Admin/Paging"> Pages contol </a>
<br />
<a href="/Admin/Store/ProductList"> Product Control </a>
<br />
<a href="/Admin/Store/Categories"> Category Control </a>

