body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table.sorting tr:not(.home) {
    cursor: pointer;
}

.highlight {
    border: 2px dashed #4cff00
}

div.new-category {
    margin-top: 25px;
    position: relative;
}

span.cat-text {
    display: none;
}

table.sorting.cat td {
    padding: 20px !important;
}

.jsDiv {
    position: absolute;
}

span.jsconfirm {
    color: black;
    padding: 12px;
    position: absolute;
    display:none;
    background: yellow; 
    bottom: 0; 
}

.csscart{
    top: 5px;
    position:relative;
        
}

.inBlock{
    display:inline-block !important;
}
